html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imgLogo {
    width: 100%;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    margin-left: 100px;
}

.LabelLogo {
    margin-left: 5px;
}

.imgPersonalArea {
    width: 100%;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    margin-right: 25px;
}

.backgroundImg {
    background-image: url('/img/135750-zvezda-kosmicheskoe_prostranstvo-elektrik-nebo-mlechnyj_put-3840x2160.jpg');
    background-size:cover;
    margin: 0;
}